body {
    background-image: url("../img/backgrounds/bkg-azugas-01.jpg");
    background-color: rgba(255, 255, 255, 0.5);
}

.background-effect {
    opacity: 0.2;
}

h1 {
    font-family: 'My Soul', cursive;
    font-size: 5vw;
    color: rgb(0, 0, 130);
    text-align: center;
}

.menu {
    text-align: center;
}

.list-menu {
    font-family: fantasy;
    font-size: 25px;
}

h2 {
    color: rgb(7, 7, 116);
}

article p {
    color: dimgray;
}

* {
    font-size: 20px;
    color: darkgray;
    box-sizing: border-box;
}

footer {
    border: 5px blue outset;
}

img {
    width: 15%;
    max-width: 100%;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
}